label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  cursor: pointer;

  &.input-label {
    font-weight: normal;

    input[type="radio"],
    input[type="checkbox"] {
      margin-right: spacer(1);
    }
  }
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"],
input[type="file"],
textarea,
select,
.input {
  display: block;
  border: 2px solid lighten(color(dark), 20%);
  background-color: lighten(color(light), 100%);
  padding: spacer(2);
  color: color(dark);
  width: 100%;
  transition: border-color 0.3s ease-in-out;
  margin-bottom: spacer(3);
  overflow: hidden;

  &:hover {
    border-color: lighten(color(dark), 10%);
  }

  &:focus {
    border-color: color(dark);
  }

  &::placeholder {
    color: lighten(color(dark), 30%);
  }
}
