html {
  font-size: 20px;
}

body {
  font-family: font-family(paragraph);
  color: color(dark);
  line-height: 1.5;
}

.list-inline{
  li{
    margin-right: spacer(3);
    display: inline-block;

    @include last(1){
      margin-right: 0;
    }
  }
}

.list-unstyle, .list-inline{
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2 {
  line-height: 1;
}

.has-text-center,
.has-text-center *{
  text-align: center;
}

.has-text-left,
.has-text-left *{
  text-align: left;
}

.has-text-right,
.has-text-right *{
  text-align: right;
}