$colors: (
  focus: (
    base: hsl(205, 87%, 49%),
    contrast: hsl(0, 0%, 95%)
  ),
  dark: (
    base: hsl(0, 0%, 13%),
    contrast: hsl(0, 0%, 95%)
  ),
  light: (
    base: hsl(0, 0%, 95%),
    contrast: hsl(0, 0%, 13%)
  )
);

@function color($color) {
  @return map-get($colors, $color);
}

@function color($color-name, $color-variant:null) {
  @if ($color-variant != null) {
    @return map-get(map-get($colors,$color-name),$color-variant);
  } @else {
    @return map-get(map-get($colors,$color-name), base);
  }
}